*{
    background-origin: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;

    height: 100vh;
    background-color: #75BCE6;
}
h1{
    font-size: 10vh;
    position: relative;
    left: 50%;
    margin: 0;
    top:50%;
    transform: translate(-50%, -50%);
}